.input-error {
     border-color: red;
     }
.error-message { color: red; font-size: 0.9em; }


form {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', sans-serif;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 90%;
  padding: 12px 15px;
  margin: 10px 0;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 15px;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #6e8efb;
  outline: none;
}

.uploadBox {
  max-width: 400px;
  margin: 40px auto;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
}

.uploadBox input[type="file"] {
  display: block;
  margin: 0 auto 16px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: border-color 0.3s;
}

.uploadBox input[type="file"]:hover {
  border-color: #007BFF;
}

.uploadBox button {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.uploadBox button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.uploadBox button:hover:not(:disabled) {
  background-color: #0056b3;
}

.uploadBox img {
  margin-top: 16px;
  border-radius: 8px;
  border: 1px solid #eee;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.uploadBox p {
  margin-top: 20px;
  font-weight: 600;
  color: #333;
}


label {
  display: flex;
  align-items: center;
  margin: 15px 0;
  font-size: 14px;
  color: #333;
}

input[type="checkbox"] {
  margin-right: 10px;
}

button[type="submit"] {
  width: 100%;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.3s ease;
}

button[type="submit"]:hover {
  background: linear-gradient(135deg, #a777e3, #6e8efb);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

button[disabled] {
  background: #ccc;
  cursor: not-allowed;
  box-shadow: none;
}

div[ng-reflect-ng-if] {
  color: #e74c3c;
  font-size: 13px;
  margin-bottom: 5px;
}

.binding2way {
  
  margin-top: -24px;
}