<div class="profile-container" *ngIf="user; else noUser">
  <div class="profile-card">
    <h2>My Profile</h2>

    <!-- Profile Picture -->

    <!-- User Info -->
    <h3><strong>Name:</strong> {{ user.name }}</h3>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Phone:</strong> {{ user.phone }}</p>
    <p><strong>Address:</strong> {{ user.address }}</p>

    <!-- Buttons -->
    <div class="actions">
      <button class="btn btn-warning" (click)="updateProfile()">Edit</button>
      <button class="btn btn-danger" (click)="logout()">Logout</button>
    </div>
  </div>
</div>

<!-- If no user -->
<ng-template #noUser>
  <div class="no-user">
    <p>No user data found. Please login again.</p>
    <a routerLink="/login" class="btn btn-primary">Go to Login</a>
  </div>
</ng-template>

<button class="button button-primary" (click)="showOrder()">
  {{ showForm ? "Hide" : "Show" }} My Orders
</button>

<form *ngIf="showForm">
  <div class="order-table-container">
    <table class="order-table">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Address</th>
        <th>Product</th>
        <th>Author</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let order of orders; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ order.customer_name }}</td>
        <td>{{ order.address }}</td>
        <td>{{ order.book.title }}</td>
        <td>{{ order.book.author }}</td>
        <td>₹{{ order.book.price }}</td>
        <td>{{ order.created_at | date : "yyyy-MM-dd" }}</td>
        <td>
          <span
            class="badge"
            [ngClass]="{
              'badge-confirmed': order.status === 'confirmed',
              'badge-cancelled': order.status === 'cancelled',
              'badge-pending': order.status === 'pending',
              'badge-tracking': order.status === 'tracking',
              'badge-delivered': order.status === 'delivered'
            }"
          >
            {{ order.status | titlecase }}
          </span>
        </td>
        <td>
          <button
            *ngIf="order.status !== 'cancelled' && order.status !== 'delivered'"
            class="btn-action btn-success"
            type="button"
            (click)="trackOrder()"
          >
            Track Order
          </button>
          <button
            *ngIf="order.status !== 'cancelled' && order.status !== 'delivered'"
            class="btn-action btn-cancel"
            type="button"
            (click)="updateStatus(order.id, 'cancelled')"
          >
            Cancel Order
          </button>
        </td>
      </tr>
    </table>
  </div>
</form>
