
<!-- Removed <body> tag for Angular compatibility -->
  <!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>


    <div class="cnt">
      <div>
        <header>Store of Academic and Educational Books</header>
      </div>
      <div class="search-container">
        <input
          type="text"
          placeholder="Search books..."
          [(ngModel)]="searchText"
          class="search-box"
        />
        <button class="search-button"><i class="fas fa-search"></i></button>
      </div>
    </div>

    <div class="container">
      <router-outlet></router-outlet>
      <div class="book-card" *ngFor="let book of books | filter : searchText">
        <img [src]="book.image" [alt]="book.title"  height="300" width="250"  />
        <h3>{{ book.title }}</h3>
        <p>Author: {{ book.author }}</p>
        <p>Price: {{ book.price }} {{ book.currency }}</p>
        <button class="btn btn-buy" (click)="goToShopingPage(book)">Buy Now</button>
        <p>{{ book.About }}</p>
      </div>
    </div>

    <footer>&copy; 2025 My Book Store. All rights reserved.</footer>
  <!-- Removed stray closing body tag -->
